<div class="main-card">
    <div class="image">
        <img src="../../../assets/image-placeholder.png" alt="">
    </div>
    <div class="date">
        07/04/2023
    </div>
    <div class="title">
        <h1>Card title</h1>
    </div>

    <div class="description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero animi fuga neque dolorum ad, cumque officia
            unde iusto molestias suscipit
            mollitia expedita iure totam esse fugiat eveniet sequi. Voluptas, tenetur?
        </p>
    </div>
</div>