<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="page-title m-5">Register</h1>
    <div class="input-container d-flex flex-column">
        <label for=" name">Name</label>
        <input type="text" id="name" formControlName="name">
        <div
            *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
            <small class="form-error">Name is required</small>
        </div>

        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email">
        <div
            *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
            <small class="form-error">E-mail is required and must be valid</small>
        </div>

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div
            *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
            <small class="form-error">Password is required and must be at least 8 characters long</small>
        </div>
    </div>
    <button type="submit" class="button-default button-secondary" [disabled]="!registerForm.valid">Register</button>
</form>