<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="page-title m-5">Login</h1>
    <div class="input-container d-flex flex-column">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email">
        <div
            *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
            <small class="form-error">E-mail is required and must be valid</small>
        </div>

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div
            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            <small class="form-error">Password is required and must be at least 8 characters long</small>
        </div>
    </div>
    <button type="submit" class="button-default button-primary" [disabled]="!loginForm.valid">Login</button>
</form>