<div class="row justify-content-center mt-5">
    <h1 class="page-title mt-3">Write</h1>
    <div class="col-md-6">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input type="text" id="post-title" name="post-title" [(ngModel)]="post.title" class="form-control m-0">
            </div>

            <div class="form-group">
                <label for="post-description">Description:</label>
                <textarea id="post-description" name="post-description" [(ngModel)]="post.description"
                    class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="post-content">Content:</label>
                <textarea id="post-content" name="post-content" rows="15" [(ngModel)]="post.content"
                    class="form-control"></textarea>
            </div>

            <button class="button-default button-secondary mb-3" type="submit"
                [disabled]="post.title == '' || post.description == '' || post.content == '' || post.category == 0">Publicar</button>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-group d-flex flex-column">
            <label>Category:</label>
            <select [(ngModel)]="post.category">
                <option *ngFor="let category of categories" value="{{category}}">
                    {{getCategoryLabel(category)}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for=" post-image">Imagem:</label>
            <input class="m-0 image-input" type="file" id="post-image" name="post-image"
                (change)="onFileSelected($event)" accept=".jpg,.png">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagem do post" class="img-thumbnail mt-2">
        </div>
    </div>
</div>