<div class="content">
    <div class="cover">
        <img src="../../../assets/image-placeholder.png" alt="">
    </div>
    <div class="title">
        <h1>Title</h1>
    </div>
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi ut officia laborum id,veritatis
            perferendis, quaerat facere numquam eum et ipsa explicabo esse vitae. Voluptatum expedita culpa delectus?
        </p>
    </div>
    <a routerLink="">
        << Back</a>
</div>