<div class="menu d-flex justify-content-between align-items-center">
    <div class=" logo-container">
        <a routerLink="/"><img class="logo" src="./../../../assets/bubble-logo.png" alt="">
        </a>
    </div>
    <div class="options-container">
        <ul class="options-list m-0 p-0">
            <li *ngIf="!showSearch"> <a href=""><i class="bi bi-graph-up-arrow mx-1"></i> <span
                        *ngIf="innerWidth > 600">Trending</span></a> </li>
            <li *ngIf="!showSearch"> <a routerLink="write"><i class="bi bi-pencil-square mx-1"></i> <span
                        *ngIf="innerWidth > 600">Write</span> </a></li>
            <li> <a (click)="toggleSearch()"><i class="bi bi-search mx-1"></i> <span
                        *ngIf="innerWidth > 600">Search</span></a> </li>
            <div *ngIf="showSearch">
                <input class="mx-0" key type="text" placeholder="Search...">
            </div>
        </ul>
    </div>
    <div class="button-container d-flex justify-content-center align-items-center">
        <button *ngIf="!authService.isAuthenticated && !showSearch" class="button-default button-primary mx-2"
            routerLink="/login">Login</button>
        <button *ngIf="!authService.isAuthenticated && !showSearch" class="button-default button-secondary mx-2"
            routerLink="/register">Register</button>

        <div class="dropdown" *ngIf="authService.isAuthenticated && !showSearch">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="userMenuLink" data-bs-toggle="dropdown"
                aria-haspopup=" true" aria-expanded="false">
                <img src="../../../assets/image-placeholder.png" alt="Imagem do usuário" class="rounded-circle mr-2"
                    width="30px" height="30px">
                <span class="mx-1" *ngIf="innerWidth > 600">{{authService.userName}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                <a class="dropdown-item" href="#"><i class="bi bi-sliders2 me-2"></i>Settings</a>
                <a class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-left me-2"></i>Logout</a>
            </div>
        </div>

        <!-- <app-dark-mode-toggle *ngIf="innerWidth > 600"></app-dark-mode-toggle> -->
    </div>

</div>