.menu {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .options-list {
        list-style: none;

        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin: 10px;

            a {
                text-decoration: none;
            }

            a:hover {
                color: cornflowerblue;
            }
        }
    }
}