@import "~bootstrap-icons/font/bootstrap-icons.css";
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// General
html {
    background-image: url("./assets/bg-light-mode.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    background-color: transparent !important;

    a {
        text-decoration: none;
        color: #111111;
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
        color: $secondary-color !important;
        cursor: pointer;
    }
}

// Buttons

.button-default {
    width: 80px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

.button-primary {
    background-color: $primary-color;
}

.button-secondary {
    background-color: $secondary-color;
}

button:disabled {
    background-color: rgb(205, 205, 205);
}

// Inputs

input {
    border: 2px solid #00ff9f;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    margin: 10px;
    padding: 5px;
}

input:focus-visible {
    border: 2px solid #ae4bff !important;
    box-shadow: none !important;
}

input:focus {
    border: 2px solid #ae4bff !important;
}

.form-control:focus {
    box-shadow: none !important;
}