//Colors
$primary-color: #00ff9f;
$secondary-color: #ae4bff;

$alert-color: #ABB64D;
$error-color: #f44336;

//Colors:hover
$secondary-color-hover: #8d9636;

//Text colors
$text-primary-color: #FFFFFF;
$text-secondary-color: #000000;
$text-tertiary-color: #808080;